<div class="callout large">
  <div class="row column text-center">
    <h1>Changing the World Through Technology</h1>
    <p class="lead">Everything and everyone has to start somewhere, just make sure that once you start, you never
      stop.</p>
    <!-- <a href="#" class="button large">Learn More</a>
    <a href="#" class="button large hollow">Learn Less</a> -->
  </div>
</div>
<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell small-order-2 medium-order-1">
      <h2>About Us.</h2>
      <p>Megavoks is a technology consulting service with years of experience in building Mobile, Web, Analytics, IoT,
        Social & Cloud technologies to develop custom software applications and products for industry domains such as
        Oil&Gas, Transportation & Supply Chain, Healthcare and Financial Services. Our customers include some of the
        world’s largest corporations as well as some of the fastest growing early stage companies. We differentiate
        ourselves by building strategic long-term partnerships with our clients and providing exceptional quality
        services at all stages of the application development lifecycle.</p>
    </div>
    <div class="medium-6 cell small-order-1 medium-order-2">
      <img class="thumbnail" src="../assets/images/mycompany.PNG">
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-4 cell">
      <h3>Custom Solutions</h3>
      <p>
        Our team at Megavoks turns powerful ideas and strategic business goals into innovative software solutions.
        We design and develop custom software to help companies:
        Connect with key audiences, Deliver engaging online experiences, Empower employees and Improve internal
        workflows and business processes
      </p>
    </div>
    <div class="medium-4 cell">
      <h3>ETRM Solutions</h3>
      <p>Simplify and streamline your business with Openlink Endur or Rightangle , energy trading and risk management
        (ETRM) solution. This front-to-back office solution covers the full range of commodities and derivatives across
        your entire business. Physical commodity logistics and scheduling tools are built-in, putting all of your
        actionable data into a single resource for your entire operation.
      </p>
    </div>
    <div class="medium-4 cell">
      <h3>People</h3>
      <p>People are at the heart of every successful business initiative. At Megavoks, we understand people. Every year
        we provide many IT professionals at client sites across North America. Our deep insights into the IT labor
        market enable us to help clients achieve their business goals—while optimizing their IT workforce
        strategies.</p>
    </div>
  </div>

  <hr>

  <div class="row column">
    <ul class="vertical medium-horizontal menu expanded text-center">
      <li><a href="#">
        <div class="stat">13</div>
        <span>YEARS OF EXPERIENCE</span></a></li>
      <li><a href="#">
        <div class="stat">5</div>
        <span>OFFICES IN 3 COUNTRIES</span></a></li>
      <li><a href="#">
        <div class="stat">5</div>
        <span>FORTUNE 500 CLIENTS</span></a></li>
    </ul>
  </div>
  <hr>

  <!-- <div class="row column">
    <h3>Our Recent Work</h3>
  </div> -->


</article>
