<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="realEstateMenu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<!-- Start Top Bar -->
<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="topbar-title"><a routerLink="/about" ><strong>Megavoks, LLC</strong></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<!-- End Top Bar -->
<router-outlet></router-outlet>
<simple-notifications [options]="notificationOptions" (onCreate)="console.log('i am called')"></simple-notifications>


